{% extends "home.html" %}
{% load static %}

{% block contenido %}
{% if object_list %}
{% csrf_token %}
<style>
    table, th, td{
        border: 2px solid black;
    }
    
</style>

{% for post in object_list %}
&nbsp;
<table  border="2px">
    <thead>
        <th colspan="5" ><h2>{{post.titulo|safe}}</h2></th>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">  <img src="{{post.imagen.url}}" alt="imagen" width="250" height="247"></td></tr>
        <tr>
            <td colspan="4">{{post.descripcion|safe}}</td>
        </tr>
        <tr>
            {% if user.is_staff %}
            <td align="center"><a href="{% url 'editarPosteo' pk=post.pk %}">EDITAR</a></td>
            <td align="center"><a href="{% url 'eliminarPosteo' post.id %}">BORRAR POSTEO</a></td>
            {% endif %}
            <td align="center"><a href="{% url 'unposteo' post.id %}">VER POST</a></td>
        </tr> 
    </tbody>
</table>
&nbsp;
{%endfor%}


{%else%}
    <p>AÚN NO HAY POSTEOS!</p> 
{% endif %}
{% endblock %}