{% extends "home.html" %}
{% load static %}

{% block contenido %}
{% csrf_token %}

<style>
    table, th, td{
        border: 2px solid black;
    }
    
</style>
<table  border="2px">
    <thead>
        <th colspan="5" ><h2>{{object.titulo}}</h2></th>
    </thead>
    <tbody>
        <tr><td rowspan="4">  <img src="{{post.imagen.url}}" alt="imagen" width="250" height="250"></td></tr>
        <tr>
            <td colspan="4">{{object.contenido}}</td>
        </tr>
        <tr>
            {%if user.is_staff %}
            <td align="center"><a href="{% url 'editarPosteo' pk=post.pk %}">EDITAR</a></td>
            <td align="center"><a href="{% url 'eliminarPosteo' post.id %}">BORRAR POSTEO</a></td>
            {%endif%}
            <td align="center"><a href="#">COMENTAR</a></td>
            
        </tr> 

        <tfoot>
            <td></td>
            <th><a href="{% url 'comentarios' %}">Ver Comentarios</a></th>
        </tfoot>
</table>

{% endblock %}